<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/Site.css" rel="stylesheet" />
    
</head>
<body>
    <h1>OAO "WWelcome"</h1>
    <h2>OAO "WWelcome"</h2>

    <img src="~/images/logo.png" class="logo" alt="logo"/>


    <div>        
        @RenderBody()
    </div>

    <img src="~/MyStaticFiles/dummy.png" class="dummy" alt="dummy" />


</body>
</html>
