@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>The time on the server is @DateTime.Now</h2>
    <h2>Separate page model</h2>
    <P>
        @Model.Message
     </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-page="/Customers/Index"> Работа с клиентами </a>
    <p> <a asp-page="/Customers2/Index"> Работа с клиентами (EF) </a> </p>
    
</div>
