

@model Ex02_ModelViewControllerInteractionMVCPattern.Models.PersonClass

<div>
    <h1>H e l l o, @Model.ToString() !</h1>
    <p>

        @Html.ActionLink("To home site", "Index")
    </p>

</div>

